appdirs==1.4.4
black==20.8b1
cffi==1.14.5
click==7.1.2
daiquiri==3.0.0
extras==1.0.0
fixtures==3.0.0
flake8==3.9.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
linecache2==1.0.0
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.8.1
pbr==5.6.0
pifpaf==3.1.5
psutil==5.8.0
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
PyJWT==2.0.1
PyMySQL==1.0.2
python-dotenv==0.14.0
python-json-logger==2.0.1
python-mimeparse==1.6.0
regex==2021.3.17
six==1.15.0
SQLAlchemy==1.4.5
testtools==2.4.0
toml==0.10.2
traceback2==1.4.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
unittest2==1.1.0
Werkzeug==1.0.1
xattr==0.9.7
